<%- include('./partials/header.ejs') %>
    <div style="margin-left: 2%; margin-right: 2%; margin-top: 5%;">
        <div class="row">
            <% food.details.forEach((item)=> { %>

                <div class="col-sm-3" style="margin-bottom: 2%;">
                    <div class="card" style="width: 18rem;">
                        <img class="card-img-top" src="<%= item.type %>.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">
                                <%= item.name %>
                            </h5>
                            <p class="card-text">
                                <li> Amount: <%= item.quantity %>
                                </li>
                                <li> Contact Details: <%= item.contact %>
                                </li>
                                <li> Location: <%= item.location %>
                                </li>
                            </p>
                            <a href="#" class="btn btn-primary">Interested</a>
                        </div>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

<%- include('./partials/footer.ejs') %>